<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    # Si no es un archivo ni directorio físico
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todo a index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
